html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Nunito Sans', sans-serif;
  font-size: 1rem;
  color: #000;
}

* {
  box-sizing: border-box;
}

footer {
  position: fixed;
  left: 0;
  background: #327bb0;
  /* height: 2.5rem; */
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.author {
  color: #fff;
}

.author:hover {
  color: #000;
}
